{% extends 'admin.html.twig' %}
{% block body %}
<section class="content home">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <h2>Dashboard
                    <small>Welcome to Oreo</small>
                </h2>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                    <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="2" data-bar-Spacing="5" data-bar-Color="#fff">3,2,6,5,9,8,7,9,5,1,3,5,7,4,6</div>
                    <small class="col-white">Visitors</small>
                </div>
                <div class="inlineblock text-center m-r-15 m-l-15 hidden-md-down">
                    <div class="sparkline" data-type="bar" data-width="97%" data-height="25px" data-bar-Width="2" data-bar-Spacing="5" data-bar-Color="#fff">1,3,5,7,4,6,3,2,6,5,9,8,7,9,5</div>

                </div>
                <button class="btn btn-white btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
                    <i class="zmdi zmdi-plus"></i>
                </button>
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Talentaholic</a></li>
                    <li class="breadcrumb-item active">Avis</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="body table-responsive members_profiles">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th style="width:60px;">Utilisateur</th>
                                <th>Reclamation</th>
                                <th>Note</th>
                                <th>Description</th>
                                <th>Supprimer</th>
                                <th>Archiver</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for r in avis %}
                                <tr>
                                    <td>{{ r.user.username }}</td>
                                    <td><a href="{{ path('traiter',{'id':r.reclamation.id}) }}">voir reclamation</a></td>
                                    <td>{{ r.note }}</td>
                                    <td>{{ r.description }}</td>
                                    <td><a href="{{ path('deleteavis',{'id':r.id}) }}">Supprimer</a></td>
                                    <td><a href="{{ path('archiver',{'id':r.id}) }}">Archiver</a></td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
                <a href="{{ path('stat') }}">Voir les statistiques</a>
            </div>
        </div>

    </div>
</section>
{% endblock %}