{% extends 'basee.html.twig' %}

{% block body %}
    <h1>Publications list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datepublication</th>
                <th>Titrepublication</th>
                <th>Typepublication</th>
                <th>Srcpublication</th>
                <th>Likespublication</th>
                <th>Isvisiblepublication</th>
                <th>Catpublication</th>
                <th>Viewspublication</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publication in publications %}
            <tr>
                <td><a href="{{ path('publication_show', { 'id': publication.id }) }}">{{ publication.id }}</a></td>
                <td>{% if publication.datePublication %}{{ publication.datePublication|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ publication.titrePublication }}</td>
                <td>{{ publication.typePublication }}</td>
                <td>{{ publication.srcPublication }}</td>
                <td>{{ publication.likesPublication }}</td>
                <td>{{ publication.isVisiblePublication }}</td>
                <td>{{ publication.catPublication }}</td>
                <td>{{ publication.viewsPublication }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('publication_show', { 'id': publication.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('publication_edit', { 'id': publication.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('publication_new') }}">Create a new publication</a>
        </li>
    </ul>
{% endblock %}
