{% extends 'basee.html.twig' %}

{% block body %}
    <h1>Publication</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publication.id }}</td>
            </tr>
            <tr>
                <th>Datepublication</th>
                <td>{% if publication.datePublication %}{{ publication.datePublication|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Titrepublication</th>
                <td>{{ publication.titrePublication }}</td>
            </tr>
            <tr>
                <th>Typepublication</th>
                <td>{{ publication.typePublication }}</td>
            </tr>
            <tr>
                <th>Srcpublication</th>
                <td>{{ publication.srcPublication }}</td>
            </tr>
            <tr>
                <th>Likespublication</th>
                <td>{{ publication.likesPublication }}</td>
            </tr>
            <tr>
                <th>Isvisiblepublication</th>
                <td>{{ publication.isVisiblePublication }}</td>
            </tr>
            <tr>
                <th>Catpublication</th>
                <td>{{ publication.catPublication }}</td>
            </tr>
            <tr>
                <th>Viewspublication</th>
                <td>{{ publication.viewsPublication }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('publication_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('publication_edit', { 'id': publication.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
